<div class="row" ng-controller="onboardController">
	<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 form-box">
		<form role="form" name="" ng-submit="" method="post" class="f1" autocomplete="off">

			<h3>G/O Digital</h3>
			<p>On-Boarding Form Collections</p>
			<div class="f1-steps">
				<div class="f1-progress">
					<div class="f1-progress-line width-100"></div>
				</div>
				<div class="f1-step active">
					<div class="f1-step-icon"><i class="fa fa-dashboard"></i></div>
					<p>Step 1</p>
				</div><div class="f1-step">
					<div class="f1-step-icon"><i class="fa fa-dashboard"></i></div>
					<p>Step 2</p>
				</div>
			</div>

			UNDER CONSTRUCTION             	
		</form>
	</div>
</div>