<div class="row" ng-controller="onboardController">
	<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 form-box">
		<form role="form" name="" ng-submit="" method="post" class="f1" autocomplete="off">

			<h3>G/O Digital</h3>
			<p>On-Boarding Form Collections</p>
			<div class="f1-steps">
				<div class="f1-progress">
					<div class="f1-progress-line width-100"></div>
				</div>
				<div class="f1-step active">
					<div class="f1-step-icon"><i class="fa fa-dashboard"></i></div>
					<p>Step 1</p>
				</div><div class="f1-step">
					<div class="f1-step-icon"><i class="fa fa-dashboard"></i></div>
					<p>Step 2</p>
				</div>
			</div>

			<fieldset>
				<div>
					<h4 class="title-header">Pending Forms</h4>
					<table class="table text-left">
						<thead>
							<tr>
								<th>Form Name</th>
								<th>Date last filled</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Form 2</td>
								<td>11/16/2016</td>
								<td><button class="btn btn-next btn-xs">Resume</button></td>
							</tr>
							<tr>
								<td>Form 1</td>
								<td>11/11/2016</td>
								<td><button class="btn btn-next btn-xs">Resume</button></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div>
					<h4 class="title-header">Submitted Forms</h4>
					<table class="table text-left">
						<thead>
							<tr>
								<th>Form Name</th>
								<th>Date submitted</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Form 2</td>
								<td>11/16/2016</td>
								<td><button class="btn btn-next btn-xs">View</button></td>
							</tr>
							<tr>
								<td>Form 1</td>
								<td>11/11/2016</td>
								<td><button class="btn btn-next btn-xs">View</button></td>
							</tr>
						</tbody>
					</table>
				</div>
			</fieldset>                    	
		</form>
	</div>
</div>