<div class="row" ng-controller="onboardController">
	<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 form-box">
		<form role="form" name="" ng-submit="" method="post" class="f1" autocomplete="off">

			<div class="row">
				<div class="col-xs-6 col-xs-offset-3">
					<img src="/modules/core/client/img/logo/logo.png" class="logo"/>
				</div>
			</div>
			
			<p>On-Boarding Form Collections</p>
			<div class="f1-steps">
				<div class="f1-progress">
					<div class="f1-progress-line width-100"></div>
				</div>
				<div class="f1-step width-{{pageProgress}}" ng-class="{active: page.page_id==pageId}" ng-repeat="page in pageDetails">
					<div class="f1-step-icon"><i class="fa fa-dashboard"></i></div>
					<p>{{page.page_name}}</p>
				</div>
			</div>

			<fieldset>
				<div class="form-group" ng-repeat="field in fieldDetails">
					<label class="sr-only">{{field.field_label}}</label>
					<input type="{{field.field_type}}" name="{{field.field_name}}" placeholder="{{field.field_label}}" class="form-control" id="{{field.field_name}}">
				</div>
			</fieldset>
		</form>
	</div>
</div>