<div class="row" ng-controller="dashboardController">
	<div class="col-sm-12 form-box">
		<form role="form" name="" ng-submit="" method="post" class="f1" autocomplete="off">

			<h3>G/O Digital</h3>
			<p>On-Boarding Form Collections</p>
			<div class="f1-steps">
				<div class="f1-progress">
					<div class="f1-progress-line width-100"></div>
				</div>
				<div class="f1-step active width-100">
					<div class="f1-step-icon"><i class="fa fa-dashboard"></i></div>
					<p>DASHBOARD</p>
				</div>
			</div>

			<fieldset class="text-left">
				<div>
					<h4 class="title-header">Pending Forms</h4>
					<div class="height-30"></div>
					<table class="table table-responsive table-bordered table-condensed table-striped">
						<thead>
							<tr>
								<th>Form Name</th>
								<th>Advertiser Company</th>
								<th>Advertiser Firstname</th>
								<th>Advertiser Lastname</th>
								<th>Created Date</th>
								<th>Last Modified Date</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Form 2</td>
								<td>11/16/2016</td>
								<td>11/16/2016</td>
								<td>11/16/2016</td>
								<td>11/16/2016</td>
								<td>11/16/2016</td>
								<td><button class="btn btn-next btn-xs">Resume</button></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="height-60"></div>
				<div>
					<h4 class="title-header">Submitted Forms</h4>
					<div class="height-30"></div>
					<table class="table table-responsive table-bordered table-condensed table-striped">
						<thead>
							<tr>
								<th>Form Name</th>
								<th>Advertiser Company</th>
								<th>Advertiser Firstname</th>
								<th>Advertiser Lastname</th>
								<th>Created Date</th>
								<th>Last Modified Date</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Form 1</td>
								<td>11/16/2016</td>
								<td>11/16/2016</td>
								<td>11/16/2016</td>
								<td>11/16/2016</td>
								<td>11/16/2016</td>
								<td><button class="btn btn-next btn-xs">View</button></td>
							</tr>
						</tbody>
					</table>
				</div>
			</fieldset>                    	
		</form>
	</div>
</div>